<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-mb">
      <div class="card mb-4">
        <div class="card-body">
          <form action="/getID" method="post">
            <div class="mb-2 row">
              <label for="html5-text-input" class="col-md-1 col-form-label">Mã Hàng</label>
              <div class="col-md-3">
                <input class="form-control" type="text" name="MaLK" id="html5-text-input" />
              </div>
              <label for="html5-text-input" class="col-md-1 col-form-label">Thương Hiệu</label>
              <div class="col-md-3">
                <input class="form-control" type="text" name="ThuongHieu" id="html5-text-input" />
              </div>
              </label>
              <div class="col-md-2">
                <button type="submit" class="btn btn-secondary">Tìm Kiếm</button>
              </div>
              <div class="col-md-2">
              <a href="/getPageExportfile">
                <button type="button" class="btn btn-danger">Xuất Hàng</button>
              </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-4 order-0">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>MÃ HÀNG</th>
                    <th>TÊN HÀNG</th>
                    <th>THƯƠNG HIỆU</th>
                    <th>NCC</th>
                    <th>MÀU</th>
                    <th>ĐƠN VỊ</th>
                    <th>SỐ LƯỢNG</th>
                    <th>MÃ KHO</th>
                    <th>GIÁ BÁN LẺ</th>
                    <th>TÌNH TRẠNG HÀNG</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(let key in result) {%>
                    <tr>
                      <td>
                        <i class="fab fa-angular fa-lg text-danger me-1"></i>
                        <strong>
                          <%= result[key]?.['MaLK'] %>
                        </strong>
                      </td>
                      <td>
                        <%= result[key]?.TenLK %>
                      </td>
                      <td>
                        <%= result[key]?.ThuongHieu %>
                      </td>
                      <td>
                        <%= result[key]?.NCC %>
                      </td>
                      <td><span class="badge bg-label-primary me-1">
                          <%= result[key]?.Color %>
                        </span></td>
                      <td>
                        <%= result[key]?.Donvi %>
                      </td>
                      <td>
                        <%= result[key]?.Soluong %>
                      </td>
                      <td><i>
                          <%= result[key]?.MaKho %>
                        </i></td>
                      <td><i>
                          <%= result[key]?.GiaBanLe %>
                        </i></td>
                      <td><i>
                          <%= result[key]?.TinhTrangHang %>
                        </i></td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>