<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Content input ----------------------------------------------------------------------->
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="card mb-4">
                    <div class="mb-2 row">
                        <div class="col-md-6">
                            <h5 class="card-header">Nhập : Linh kiện </h5>
                        </div>
                        <div class="col-md-6">
                            <form action="/SearchStock" method="post" class="d-flex" onsubmit="return false">
                                <input class="form-control me-2" type="search" name="search" placeholder="Search"
                                    aria-label="Search" />
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <form action="/PostStock" method="post">
                        <div class="card-body">
                            <div class="mb-2 row">
                                <label for="html5-text-input" class="col-md-1 col-form-label">Mã
                                    Hàng</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="MaLK" id="html5-text-input" />
                                </div>
                                <label for="html5-text-input" class="col-md-1 col-form-label">Tên Hàng
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="TenLK" id="html5-text-input" />
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="html5-text-input" class="col-md-1 col-form-label">Thương Hiệu</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="MaThuongHieu" id="html5-text-input" />
                                </div>
                                <label for="html5-text-input" class="col-md-1 col-form-label">Màu
                                </label>
                                <div class="col-md-5">
                                    <div class="">
                                        <select id="defaultSelect" class="form-select" name="Color">
                                            <option value="0">Mặc đinh</option>
                                            <option value="white">Trắng</option>
                                            <option value="black">Đen</option>
                                            <option value="red">Đỏ</option>
                                            <option value="yellow">Vàng</option>
                                            <option value="blue">Xanh</option>
                                            <option value="silver">Bạc</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="html5-text-input" class="col-md-1 col-form-label">Đơn
                                    Vị</label>
                                <div class="col-md-5">
                                    <div class="">
                                        <select id="defaultSelect" class="form-select" name="Donvi">
                                            <option value="cai">Cái</option>
                                            <option value="thung">Thùng</option>
                                            <option value="bich">Bịch</option>
                                        </select>
                                    </div>
                                </div>
                                <label for="html5-text-input" class="col-md-1 col-form-label">Số Lượng
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="Soluong" id="html5-text-input" />
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="html5-text-input" class="col-md-1 col-form-label">Giá Bán Lẻ</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="GiaBanLe" id="html5-text-input" />
                                </div>
                                <label for="html5-text-input" class="col-md-1 col-form-label">Mã Kho
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="MaKho" id="html5-text-input" />
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="html5-text-input" class="col-md-1 col-form-label">Tình trạng hàng
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="TinhTrangHang"
                                        id="html5-text-input" />
                                </div>
                                <label for="html5-text-input" class="col-md-1 col-form-label">Nhà cung cấp
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="MaNCC" id="html5-text-input" />
                                </div>
                            </div>
                            <div>
                                <div class="col-md-5">
                                    <button type="submit" class="btn btn-outline-danger">TẠO MỚI</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / Content -->
        <!-- Content table ----------------------------------------------------------------------->
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID Stock</th>
                                        <th>Name Stock</th>
                                        <th>Brand</th>
                                        <th>Supplier</th>
                                        <th>color</th>
                                        <th>ĐƠN VỊ</th>
                                        <th>SỐ LƯỢNG</th>
                                        <th>MÃ KHO</th>
                                        <th>GIÁ BÁN LẺ</th>
                                        <th>TÌNH TRẠNG HÀNG</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let key in result) { %>
                                        <tr>
                                            <td>
                                                <i class="fab fa-angular fa-lg text-danger me-1"></i>
                                                <strong>
                                                    <%= result[key].MaLK %>
                                                </strong>
                                            </td>
                                            <td>
                                                <%= result[key].TenLK %>
                                            </td>
                                            <td>
                                                <ul>
                                                    <%= result[key].MaThuongHieu %>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <%= result[key].MaNCC %>
                                                </ul>
                                            </td>
                                            <td><span class="badge bg-label-primary me-1">
                                                    <%= result[key].Color %>
                                                </span></td>
                                            <td>
                                                <%= result[key].Donvi %>
                                            </td>
                                            <td>
                                                <%= result[key].Soluong %>
                                            </td>
                                            <td><i>
                                                    <%= result[key].MaKho %>
                                                </i></td>
                                            <td><i>
                                                    <%= result[key].GiaBanLe %>
                                                </i></td>
                                            <td><i>
                                                    <%= result[key].TinhTrangHang %>
                                                </i></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                        data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form action="/editStockPage/<%=result[key].MaLK%>" method="get">
                                                            <button type="submit" class="dropdown-item">
                                                                <i class="bx bx-edit-alt me-2">Edit</i>
                                                            </button>
                                                        </form>   
                                                        <form action="/deleteStock/<%=result[key].MaLK%>" method="post">
                                                            <button type="submit" class="dropdown-item">
                                                                <i class="bx bx-trash me-2">Delete</i>
                                                            </button>
                                                        </form>
                                                        <form action="/deleteStock/<%=result[key].MaLK%>" method="post">
                                                            <button type="submit" class="dropdown-item">
                                                                <i class="bx bx-trash me-2">Barcode</i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper -->
</div>