<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Content input ----------------------------------------------------------------------->
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="card mb-4">
                    <div class="mb-2 row">
                        <div class="col-md-6">
                            <h5 class="card-header">Nhập : Nhà cung cấp</h5>
                        </div>
                        <div class="col-md-6">
                            <form action="/SearchSupplier" method="post" class="d-flex" onsubmit="return false">
                                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search" />
                                <button class="btn btn-outline-primary" type="submit" >Search</button>
                            </form>
                        </div>
                    </div>
                    <form action="/PostSupplier " method="post">
                        <div class="card-body">
                            <div class="mb-2 row">
                                <label for="html5-text-input" class="col-md-1 col-form-label">Mã Nhà Cung Cấp</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="MaNCC" id="html5-text-input" />
                                </div>
                                <label for="html5-text-input" class="col-md-1 col-form-label">Tên Nhà Cung Cấp
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="TenNCC" id="html5-text-input" />
                                </div>
                            </div>
                            <div class="mb-2 row">
                                <label for="html5-text-input" class="col-md-1 col-form-label">Địa Chỉ</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="DiaChi" id="html5-text-input" />
                                </div>
                                <label for="html5-text-input" class="col-md-1 col-form-label">Số Điện Thoại</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="SDT" id="html5-text-input" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-outline-danger">TẠO MỚI</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>

        <!-- / Content -->
        <!-- Content table ----------------------------------------------------------------------->
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>MÃ NHÀ CUNG CẤP</th>
                                        <th>TÊN NHÀ </th>
                                        <th>ĐỊA CHỈ</th>
                                        <th>SỐ ĐIỆN THOẠI</th>
                                        <th>XÓA SỬA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let key in result) { %>
                                        <tr>
                                            <td>
                                                <i class="fab fa-angular fa-lg text-danger me-1"></i>
                                                <strong>
                                                    <%= result[key].MaNCC %>
                                                </strong>
                                            </td>
                                            <td>
                                                <%= result[key].TenNCC %>
                                            </td>
                                            <td>
                                                <%= result[key].DiaChi %>
                                            </td>
                                            <td>
                                                <%= result[key].SDT %>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                        data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form action="/editSupplierPage/<%=result[key].MaNCC%>" method="get">
                                                            <button type="submit" class="dropdown-item">
                                                                <i class="bx bx-trash me-2">Edit</i>
                                                            </button>
                                                        </form>
                                                        <form action="/deleteSupplier /<%=result[key].MaNCC%>" method="post">
                                                            <button type="submit" class="dropdown-item">
                                                                <i class="bx bx-trash me-2">Delete</i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper -->
</div>